<div class='col-md-12 mt-mb-2'>
  <div class='row mt-mb-2'>
    <div class='col-md-12'>
      <%= render 'investment_accounts/investment_accounts_table' %>
    </div>
  </div>

  <div class='row mt-mb-2'>
    <div class='col-md-12'>
  <%= render 'cash_accounts/cash_accounts_table' %>
    </div>
  </div>

  <div class='row mt-mb-2'>
    <div class='col-md-4'>
      <div class='row'>
        <div class='col-md-4'>
          <%= link_to 'Export PDF - Asset Reports', export_pdf_file_users_path(@cash_accounts), class: 'btn btn-warning', target: :_blank %>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-4'>
      <div class='row'>
        <div class='col-md-4'>
          <%= link_to 'Export Docx - Asset Reports', export_docx_file_users_path(@cash_accounts), class: 'btn btn-primary', target: :_blank %>
        </div>
      </div>
    </div>
  </div>
</div
