.align-center {
  text-align: center;
}

.light-blue-background {
  background-color: #f7f7f7;
}

.m-2 {
  margin: 2%;
}

.mt-mb-2 {
  margin-top: 2%;
  margin-bottom: 2%;
}

.color-black {
  color: black;
}

.color-red {
  color: red !important;
}

.color-blue {
  color: blue !important;
}

table#demotable {
  table-layout: fixed;
  width: 100%;
}

table#demotable td,
table#demotable th {
  width: 25%;padding: 5px;
}

.ckeditor .color-blue {
  color: blue;
}
